:root {
    --blue: #473E9E;
    --light-blue: #3291E9;
    --light-blue-opacity: rgba(50, 145, 233, 0.15);
    --white: #fff;
    --black: #000;
    --purple: #918BC5;
    --dark-purple: #9473E9;
    --dark-purple-opacity: rgba(149, 115, 233, 0.15);
    --dark-purple-opacity-50: rgba(149, 115, 233, 0.5);
    --purple-opacity: rgba(145, 139, 197, 0.3);
    --red: #EE2654;
    --light-red: #E9555E;
    --red-opacity: rgba(238, 38, 84, 0.15);
    --yellow: #FAB011;
    --green: #229E3D;
    --green-opacity: rgba(34, 158, 61, 0.15);
    --orange: #EB8F22;
    --orange-opacity: rgba(235, 145, 34, 0.15);
    --gray: #90989F;
    --f400-lato: "Lato-Regular";
    --f500-lato: "Lato-Medium";
    --f600-lato: "Lato-Semibold";
    --f700-lato: "Lato-Bold";
    --main-input-bg: #F2F1FF;
    --btn-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    --btn-shadow2: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    --bg-other-main: #F2F1FF;
    --reason-input-bg: #fff;
    --reason-input-border: #E7E5F4;
    --reason-input-circle: #DAD8EC;
    --loading-bg: #EDECFF;
    --border-bottom-tabs: #BCBFD8;
    --return-input-bg: #E4E3F7;
}

body {
    overflow: hidden;
}

.heading {
    color: var(--blue);
    font-family: 'Lato', sans-serif;
    font-weight: 800 !important;
    font-size: 36px;

}

.heading-info {
    color: var(--purple) !important;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.card-heading {
    color: var(--blue);
    font-weight: 700;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

.pricing {
    color: var(--blue);
    font-weight: 500;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
}

.per-month {
    color: var(--purple);
    font-weight: 500;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

.plan-feature {
    color: var(--blue);
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    height: 170px;
    overflow-y: hidden;
}

.plan-feature>li {
    margin-bottom: 3%;

}

.choose-plan {

    border-color: var(--blue) !important;
    color: var(--blue) !important;

}

.pricing-card {
    margin-right: 1%;
}

.pricing-card:hover {
    border: 2px solid var(--blue) !important;
    cursor: pointer;
}

.choose-plan:hover {
    background-color: var(--blue) !important;
    color: var(--white) !important;
}

/*Scrollbar Style */
.plan-feature::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.plan-feature::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.plan-feature::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, var(--blue)),
            color-stop(0.72, var(--blue)),
            color-stop(0.86, var(--blue)));
}

.plan-feature:hover {
    overflow-y: scroll;
}